<div class="header">
  <h1>{{'appName'| translate}}</h1>
  <div class="language">
    <button mat-button disabled="{{this.translate.getCurrentLang().toString() =='en'}}" (click)="switchLanguage('en')"><h2>En</h2></button>
    <button mat-button disabled="{{this.translate.getCurrentLang().toString() =='fr'}}" (click)="switchLanguage('fr')"><h2>Fr</h2></button>
  </div>
</div>
<div class="page">
  <div class="body">
    <app-simulation></app-simulation>
  </div>
</div>
<!-- <nav>
  <ul>
     <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li> 
     <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
  </ul>
</nav> -->
<router-outlet />
