 .circle {
  display: block;
  color: white;
  background: red;
  border-radius: 50%;
  font-size: 12px;
  height: 5px;
  width: 5px;
  margin: 0;

  .name {
    padding: 2px 0 0 2px;
    text-wrap: nowrap;
  }
}